<!DOCTYPE html>
<html>
<head>
  <title>Add a comment</title>
</head>
<body>
  <form action="/students/comment/new" method="POST">
    <input type="text" name="name" placeholder="Name">
    <textarea name="comments">Write your comment here</textarea>
    <button type="submit">Save</button>
  </form>
  <ul>
    <% @comments.each do |comment| %>
      <li><%= comment['id']%>: <%= comment['comments'] %>, <%= comment['student_id'] %></li>
    <% end %>
  </ul>
</body>
</html>