#contact-info {
  font-size: 0.8em;
}

.job {
  background-color: #e9e5dc;
  border-radius: 25px;
  margin-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.accomplishments {
  font-size: 0.8em;
}

#contact-info:hover {
  font-weight: bold;
}

section.job h3 {
  color: pink;
}